body{
    background: url('images/accessories-84528_1280.jpg') no-repeat center center fixed;
    background-size: cover;
}

.content{
    width: 95%;
    margin-top: 80px;
    min-height: 500px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
}
